
.flex-container {
    display: flex;
    color: white;
    font-size: 1rem;
    padding: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
     

}

.flex-child {
    flex: 1.5;
    flex-direction: row;
    padding: 3%;
    font-size:0.5rem;

 
}
.profile{
    border-radius: 0.5rem;
}  

.flex-child:first-child {
    margin-right: 20px;
    margin-top: 0%;}

   
    @media screen and (max-width:325px) {
        .flex-container{
            height: 75vh;
            display: flex;
            flex-direction: column;
           
        
        }
        .flex-child:first-child {
            margin-right: 20px;
            margin-top:  15%;} 
        
        
        
        

    }  

    
    @media only screen and (min-width: 325px) and (max-width: 502px){

    }