
 
.home
 {
  display: flex;
  flex-direction: column;
  margin-left:10%;
  color: white;
  margin-top: 5%;
 }
 .one{
    display: flex;
    flex-direction: row;
    align-items:left;
    justify-content: right;
    margin-right: auto;
   
 }
.two{
    display: flex;
    flex-direction: row;
    margin-right: auto;  
    justify-content: right;
}
.three{
    display: flex;
    flex-direction: row;
    align-items:right;
    margin-right: auto;   
}

.layla{
  font-size: 0.7rem;   
  position: absolute;
  top: 90%;
  right: 0%;
  font-family: 'Dancing Script', cursive;
  color:beige;

  }


  .homebtn{
    background: rgb(225, 195, 19);;
    text-align: center;
    padding: 25px;
    border-radius:  5px;
    color: #fff;
    cursor: pointer;
    width: 100%;    
  }

 .rubberBand {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        font-size: 80px;
        font-weight: bold;
    
      }
    
  .rubberBand.animated {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
        color:rgb(225, 195, 19);
        background-color: transparent;
      }
    
      @keyframes rubberBand {
        from {
          transform: scale3d(1, 1, 1);
        }
    
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
    
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
    
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
    
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
    
        75% {
          transform: scale3d(1.05, 0.95, 1);
        }
    
        to {
          transform: scale3d(1, 1, 1);
        }
      }
    
    
      * {
        box-sizing: border-box;
      }
  
      

      @media screen and (max-width:505px) {
        .home{
          color: white;
          font-size: 3rem;
            padding: 10%;
           padding-top: -20%;
           margin-left: 2%;
          display: flex;
          width: 100%;
          height:60vh;
          
         }
         .flex-container{
          height: 90vh;
          overflow: hidden;
         }
         .homebtn{
          padding: 15px;  
        }
      
        
        .rubberBand {
          font-size: 30px;
          font-weight: bold;
      
        }
        .layla{
          font-size: 0.8rem;   
          position: absolute;
          top:5%;
          right:5%;
          font-family: 'Dancing Script', cursive;
          color: aliceblue;
      
          }
        }


        @media only screen and (min-width: 325px) and (max-width: 504px){

          .home{
            font-weight: 600;
            margin-top: 15%;
            padding: 10%;
            margin-left: auto;
           }
        
          .rubberBand {
            font-size: 45px;
            font-weight: bold;
        
          }
          .layla{
            font-size: 1rem;   
            position: absolute;
            top:75%;
            right:0;
            font-family: 'Dancing Script', cursive;
        
            }
          } 
        


   @media screen and (max-width: 325px){
          .home{
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: -9%;
            padding: 15%;
            padding-top: 5%;
             margin-left: auto;
           }
           .homebtn{
            background: rgb(225, 195, 19);;
            text-align: center;
            padding: 20px;
            border-radius:  5px;
            color: #fff;
            cursor: pointer;
            width: 100%;    
            margin-top: 5%;
          }
         
          .rubberBand {
            font-size: 30px;
            font-weight: bold;
        
          }
          .layla{
            font-size: 1rem;   
            position: absolute;
            top:100%;
            right: 0%;
            font-family: 'Dancing Script', cursive;
        
            }
          } 