.home
 {
  display: flex;
  flex-direction: column;
  margin-left:14%;

}
.flex-container{
  color: white;
  height: 100vh;

 
}
 .one{
    display: flex;
    flex-direction: row;
    align-items:left;
    justify-content: right;
    margin-right: auto;
   
 }
.two{
    display: flex;
    flex-direction: row;
    margin-right: auto;  
    justify-content: right;
}
.three{
    display: flex;
    flex-direction: row;
    align-items:right;
    margin-right: auto;   
}

.layla{
  font-size: 1rem;   
  position: absolute;
  top: 100%;
  right: 0%;
  font-family: 'Dancing Script', cursive;

  }

  .rubberBand {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        font-size: 90px;
        font-weight: bold;
    
      }
    
  .rubberBand.animated {
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
        color:aqua;
      }
    
      @keyframes rubberBand {
        from {
          transform: scale3d(1, 1, 1);
        }
    
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
    
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
    
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
    
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
    
        75% {
          transform: scale3d(1.05, 0.95, 1);
        }
    
        to {
          transform: scale3d(1, 1, 1);
        }
      }
    
    
      * {
        box-sizing: border-box;
      }
  
      @media screen and (max-width:325px) {
        .home{
          background-color:rgb(28, 27, 27);
          color: white;
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: -39%;
          padding: 15%;
           padding-top: 30%;
          margin-left: -20%;
          display: flex;
          width: 100%;
          height: 90vh;
          
         }
         .flex-container{
          height: 90vh;
          overflow: hidden;
         }
          
        .profile{
          display: none;
        }
        .rubberBand {
          font-size: 30px;
          font-weight: bold;
      
        }
        .layla{
          font-size: 1rem;   
          position: absolute;
          top:100%;
          right: 0%;
          font-family: 'Dancing Script', cursive;
      
          }
        }

        @media only screen and (min-width: 325px) and (max-width: 502px){
          .home{
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: -39%;
            padding: 15%;
             padding-top: 65%;
             margin-left: -25%;
           }
 
            
          .profile{
            display: none;
          }
          .rubberBand {
            font-size: 30px;
            font-weight: bold;
        
          }
          .layla{
            font-size: 1rem;   
            position: absolute;
            top:100%;
            right: 0%;
            font-family: 'Dancing Script', cursive;
        
            }
          } 